<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apabi.flow.isbn.dao.IsbnDao" >
    <resultMap id="isbnEntityMapper" type="com.apabi.flow.isbn.model.IsbnEntity" >
        <id column="METAID" property="metaId" jdbcType="VARCHAR" />
        <result column="ISBN" property="isbn" jdbcType="VARCHAR" />
        <result column="ISBN10" property="isbn10" jdbcType="VARCHAR" />
        <result column="ISBN13" property="isbn13" jdbcType="VARCHAR" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="CREATOR" property="author" jdbcType="VARCHAR" />
        <result column="PUBLISHER" property="publisher" jdbcType="VARCHAR" />
        <result column="HASCEBX" property="hasCebx" jdbcType="INTEGER" />
        <result column="HASFLOW" property="hasFlow" jdbcType="INTEGER" />
    </resultMap>

</mapper>