body{
	height: 800px;
	min-width: 750px;
	overflow: scroll!important;
}
hr {
	width:95%;
	border-top:1px solid #ccc;
	margin: 10px auto;
}

.top20{
	height:25em;
}

.time-div{
	float:left;
}
.time-box {
    float: left;
}
.time-select,.pro-select {
	height:24px;
}
.pro-box {
	float: left;
	margin-left:9px;
}
.time-hide {
	float: left;
    margin-left: 1em;
}
.time-hide input{
    height:20px;
}
@media all and (max-width: 960px) {
	.time-hide input{
	    width:101px;
	}
	#search-input {
	   width:100px;
	}
}
.time-btn {
    width: 50px;
    height: 22px;
    background: white;
    border-radius: 4px;
    border: 1px solid #000;
}
.Wdate{
    cursor: pointer;
}

.search-div{
	float:right;
    text-align:right;
}

.search-div input {
    height:20px;
}
.search-div button {
    height:24px;
    width: 60px;
    margin-left: 9px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid;
}

.row {
	margin-top:5px;
	float: left;
    width: 100%;
}