<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apabi.flow.publish.ApabiBookMetaTempPublishDao" >
    <resultMap id="apabiBookMetaTempPublishMapper" type="com.apabi.flow.publish.model.ApabiBookMetaTempPublish2" >
        <id column="METAID" jdbcType="VARCHAR" property="metaid" />
        <result column="IDTYPE" jdbcType="VARCHAR" property="idtype" />
        <result column="SALESTATUS" jdbcType="DECIMAL" property="salestatus" />
        <result column="LANGUAGE" jdbcType="VARCHAR" property="language" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="SUBTITLE" jdbcType="VARCHAR" property="subtitle" />
        <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
        <result column="CREATORWORD" jdbcType="VARCHAR" property="creatorword" />
        <result column="CREATORID" jdbcType="VARCHAR" property="creatorid" />
        <result column="CONTRIBUTOR" jdbcType="VARCHAR" property="contributor" />
        <result column="CONTRIBUTORWORD" jdbcType="VARCHAR" property="contributorword" />
        <result column="CONTRIBUTORID" jdbcType="VARCHAR" property="contributorid" />
        <result column="TRANSLATOR" jdbcType="VARCHAR" property="translator" />
        <result column="TRANSLATORID" jdbcType="VARCHAR" property="translatorid" />
        <result column="ORIGINTITLE" jdbcType="VARCHAR" property="origintitle" />
        <result column="ALTERNATIVETITLE" jdbcType="VARCHAR" property="alternativetitle" />
        <result column="EDITIONORDER" jdbcType="VARCHAR" property="editionorder" />
        <result column="EDITIONNOTE" jdbcType="VARCHAR" property="editionnote" />
        <result column="PLACE" jdbcType="VARCHAR" property="place" />
        <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher" />
        <result column="PUBLISHERID" jdbcType="VARCHAR" property="publisherid" />
        <result column="ISSUEDDATE" jdbcType="VARCHAR" property="issueddate" />
        <result column="ENDISSUEDDATE" jdbcType="VARCHAR" property="endissueddate" />
        <result column="ISSUEDDATEDESC" jdbcType="VARCHAR" property="issueddatedesc" />
        <result column="SUBJECT" jdbcType="VARCHAR" property="subject" />
        <result column="READER" jdbcType="VARCHAR" property="reader" />
        <result column="CLASSCODE" jdbcType="VARCHAR" property="classcode" />
        <result column="APABICLASS" jdbcType="VARCHAR" property="apabiclass" />
        <result column="TYPE" jdbcType="VARCHAR" property="type" />
        <result column="ISBN" jdbcType="VARCHAR" property="isbn" />
        <result column="ISBN10" jdbcType="VARCHAR" property="isbn10" />
        <result column="ISBN13" jdbcType="VARCHAR" property="isbn13" />
        <result column="PAPERPRICE" jdbcType="VARCHAR" property="paperprice" />
        <result column="EBOOKPRICE" jdbcType="VARCHAR" property="ebookprice" />
        <result column="FOREIGNPRICE" jdbcType="VARCHAR" property="foreignprice" />
        <result column="FOREIGNPRICETYPE" jdbcType="VARCHAR" property="foreignpricetype" />
        <result column="PAPERPRICEDESC" jdbcType="VARCHAR" property="paperpricedesc" />
        <result column="BINDING" jdbcType="VARCHAR" property="binding" />
        <result column="ILLUSTRATION" jdbcType="VARCHAR" property="illustration" />
        <result column="PRESSORDER" jdbcType="VARCHAR" property="pressorder" />
        <result column="EDITOR" jdbcType="VARCHAR" property="editor" />
        <result column="RELATION" jdbcType="VARCHAR" property="relation" />
        <result column="RELATIONID" jdbcType="VARCHAR" property="relationid" />
        <result column="VOLUME" jdbcType="VARCHAR" property="volume" />
        <result column="ISSERIES" jdbcType="DECIMAL" property="isseries" />
        <result column="VOLUMESCOUNT" jdbcType="VARCHAR" property="volumescount" />
        <result column="ISALLUBLISHED" jdbcType="VARCHAR" property="isallublished" />
        <result column="NOTES" jdbcType="VARCHAR" property="notes" />
        <result column="PODPRICE" jdbcType="VARCHAR" property="podprice" />
        <result column="PODPRICETYPE" jdbcType="VARCHAR" property="podpricetype" />
        <result column="PODPRICEPAGEUNIT" jdbcType="VARCHAR" property="podpricepageunit" />
        <result column="DRID" jdbcType="VARCHAR" property="drid" />
        <result column="DOUBANID" jdbcType="VARCHAR" property="doubanid" />
        <result column="AMAZONID" jdbcType="VARCHAR" property="amazonid" />
        <result column="CALISID" jdbcType="VARCHAR" property="calisid" />
        <result column="NLIBRARYID" jdbcType="VARCHAR" property="nlibraryid" />
        <result column="DATASOURCE" jdbcType="VARCHAR" property="datasource" />
        <result column="QUALITYRATING" jdbcType="VARCHAR" property="qualityrating" />
        <result column="QRTYPE" jdbcType="VARCHAR" property="qrtype" />
        <result column="CEBXOBJID" jdbcType="VARCHAR" property="cebxobjid" />
        <result column="CEBXFILESIZE" jdbcType="VARCHAR" property="cebxfilesize" />
        <result column="HASCEBX" jdbcType="DECIMAL" property="hascebx" />
        <result column="CEBXPAGE" jdbcType="VARCHAR" property="cebxpage" />
        <result column="COMPLEXOID" jdbcType="VARCHAR" property="complexOid" />
        <result column="REDITOR" jdbcType="VARCHAR" property="reditor" />
        <result column="DEPARTMENTID" jdbcType="VARCHAR" property="departmentid" />
        <result column="COVERURL" jdbcType="VARCHAR" property="coverurl" />
        <result column="IMGHEIGTH" jdbcType="VARCHAR" property="imgheigth" />
        <result column="IMGWIDTH" jdbcType="VARCHAR" property="imgwidth" />
        <result column="COVOBJID" jdbcType="VARCHAR" property="covobjid" />
        <result column="THUMIMGURL" jdbcType="VARCHAR" property="thumimgurl" />
        <result column="THUMIMGSIZE" jdbcType="VARCHAR" property="thumimgsize" />
        <result column="MEDIUMCOVER" jdbcType="VARCHAR" property="mediumcover" />
        <result column="HASFLOW" jdbcType="DECIMAL" property="hasflow" />
        <result column="ISOPTIMIZE" jdbcType="DECIMAL" property="isoptimize" />
        <result column="DONOR" jdbcType="VARCHAR" property="donor" />
        <result column="LIBRARYID" jdbcType="VARCHAR" property="libraryid" />
        <result column="BOOKID" jdbcType="VARCHAR" property="bookid" />
        <result column="STYLECLASS" jdbcType="VARCHAR" property="styleclass" />
        <result column="STYLEURL" jdbcType="VARCHAR" property="styleurl" />
        <result column="CHAPTERNUM" jdbcType="DECIMAL" property="chapternum" />
        <result column="BOOKPAGES" jdbcType="VARCHAR" property="bookpages" />
        <result column="TAGS" jdbcType="VARCHAR" property="tags" />
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
        <result column="CONTENTNUM" jdbcType="DECIMAL" property="contentnum" />
        <result column="HASPUBLISH" jdbcType="DECIMAL" property="haspublish" />
        <result column="ISPUBLICCOPYRIGHT" jdbcType="DECIMAL" property="isPublicCopyRight" />
    </resultMap>

</mapper>