<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.douban.dao.DoubanMetaDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.douban.model.DoubanMeta">
        <id column="DOUBANID" jdbcType="VARCHAR" property="doubanId"/>
        <result column="ISBN13" jdbcType="VARCHAR" property="isbn13"/>
        <result column="TITLE" jdbcType="NCLOB" property="title"/>
        <result column="AUTHOR" jdbcType="VARCHAR" property="author"/>
        <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher"/>
        <result column="ALT_TITLE" jdbcType="VARCHAR" property="altTitle"/>
        <result column="TRANSLATOR" jdbcType="VARCHAR" property="translator"/>
        <result column="ISSUEDDATE" jdbcType="VARCHAR" property="issueddate"/>
        <result column="PAGES" jdbcType="VARCHAR" property="pages"/>
        <result column="PRICE" jdbcType="VARCHAR" property="price"/>
        <result column="BINDING" jdbcType="VARCHAR" property="binding"/>
        <result column="SERIES" jdbcType="VARCHAR" property="series"/>
        <result column="AVERAGE" jdbcType="VARCHAR" property="average"/>
        <result column="SUMMARY" jdbcType="NCLOB" property="summary"/>
        <result column="AUTHOR_INTRO" jdbcType="NCLOB" property="authorIntro"/>
        <result column="CATALOG" jdbcType="NCLOB" property="catalog"/>
        <result column="TAGS" jdbcType="NCLOB" property="tags"/>
        <result column="HASCRAWLED" jdbcType="VARCHAR" property="hasCrawled"/>
        <result column="ISBN10" jdbcType="VARCHAR" property="isbn10"/>
        <result column="SUBTITLE" jdbcType="VARCHAR" property="subTitle"/>
        <result column="ORIGIN_TITLE" jdbcType="VARCHAR" property="originTitle"/>
        <result column="EBOOK_PRICE" jdbcType="VARCHAR" property="ebookPrice"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="SMALL_COVER" jdbcType="VARCHAR" property="smallCover"/>
        <result column="MEDIUM_COVER" jdbcType="VARCHAR" property="mediumCover"/>
        <result column="LARGE_COVER" jdbcType="VARCHAR" property="largeCover"/>
    </resultMap>

    <sql id="Base_Column_List">
        DOUBANID, ISBN13, TITLE, AUTHOR, PUBLISHER, ALT_TITLE, TRANSLATOR, ISSUEDDATE, PAGES,
        PRICE, BINDING, SERIES, AVERAGE, SUMMARY, AUTHOR_INTRO, CATALOG, TAGS, HASCRAWLED,
        ISBN10, SUBTITLE, ORIGIN_TITLE, EBOOK_PRICE, CREATETIME, UPDATETIME, SMALL_COVER,
        MEDIUM_COVER, LARGE_COVER
    </sql>

    <!-- 根据doubanId查询数据 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from DOUBAN_METADATA
        where DOUBANID = #{doubanId,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询数据 -->
    <select id="findByPage" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM DOUBAN_METADATA
        WHERE 1=1
        <if test="doubanId != null and doubanId != ''">
            AND DOUBANID = #{doubanId,jdbcType=VARCHAR}
        </if>
        <if test="isbn13 != null and isbn13 != ''">
            AND ISBN13 = #{isbn13,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            AND TO_CHAR(TITLE) = #{title,jdbcType=NCLOB}
        </if>
        <if test="author != null and author != ''">
            AND AUTHOR = #{author,jdbcType=VARCHAR}
        </if>
        <if test="publisher != null and publisher != ''">
            AND PUBLISHER = #{publisher,jdbcType=VARCHAR}
        </if>
        <if test="altTitle != null and altTitle != ''">
            AND ALT_TITLE = #{altTitle,jdbcType=VARCHAR}
        </if>
        <if test="translator != null and translator != ''">
            AND TRANSLATOR = #{translator,jdbcType=VARCHAR}
        </if>
        <if test="issueddate != null and issueddate != ''">
            AND ISSUEDDATE = #{issueddate,jdbcType=VARCHAR}
        </if>
        <if test="pages != null and pages != ''">
            AND PAGES = #{pages,jdbcType=VARCHAR}
        </if>
        <if test="price != null and price != ''">
            AND PRICE = #{price,jdbcType=VARCHAR}
        </if>
        <if test="binding != null and binding != ''">
            AND BINDING = #{binding,jdbcType=VARCHAR}
        </if>
        <if test="series != null and series != ''">
            AND SERIES = #{series,jdbcType=VARCHAR}
        </if>
        <if test="average != null and average != ''">
            AND AVERAGE = #{average,jdbcType=VARCHAR}
        </if>
        <if test="summary != null and summary != ''">
            AND TO_CHAR(SUMMARY) = #{summary,jdbcType=NCLOB}
        </if>
        <if test="authorIntro != null and authorIntro != ''">
            AND TO_CHAR(AUTHOR_INTRO) = #{authorIntro,jdbcType=NCLOB}
        </if>
        <if test="catalog != null and catalog != ''">
            AND TO_CHAR(CATALOG) = #{catalog,jdbcType=NCLOB}
        </if>
        <if test="tags != null and tags != ''">
            AND TO_CHAR(TAGS) = #{tags,jdbcType=NCLOB}
        </if>
        <if test="hasCrawled != null and hasCrawled != ''">
            AND HASCRAWLED = #{hasCrawled,jdbcType=VARCHAR}
        </if>
        <if test="isbn10 != null and isbn10 != ''">
            AND ISBN10 = #{isbn10,jdbcType=VARCHAR}
        </if>
        <if test="subTitle != null and subTitle != ''">
            AND SUBTITLE = #{subTitle,jdbcType=VARCHAR}
        </if>
        <if test="originTitle != null and originTitle != ''">
            AND ORIGIN_TITLE = #{originTitle,jdbcType=VARCHAR}
        </if>
        <if test="ebookPrice != null and ebookPrice != ''">
            AND EBOOK_PRICE = #{ebookPrice,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            AND CREATETIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null and updateTime != ''">
            AND UPDATETIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="smallCover != null and smallCover != ''">
            AND SMALL_COVER = #{smallCover,jdbcType=VARCHAR}
        </if>
        <if test="mediumCover != null and mediumCover != ''">
            AND MEDIUM_COVER = #{mediumCover,jdbcType=VARCHAR}
        </if>
        <if test="largeCover != null and largeCover != ''">
            AND LARGE_COVER = #{largeCover,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 根据doubanId删除数据 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from DOUBAN_METADATA
        where DOUBANID = #{doubanId,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.douban.model.DoubanMeta">
        insert into DOUBAN_METADATA_TEST
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doubanId != null">
                DOUBANID,
            </if>
            <if test="isbn13 != null">
                ISBN13,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="author != null">
                AUTHOR,
            </if>
            <if test="publisher != null">
                PUBLISHER,
            </if>
            <if test="altTitle != null">
                ALT_TITLE,
            </if>
            <if test="translator != null">
                TRANSLATOR,
            </if>
            <if test="issueddate != null">
                ISSUEDDATE,
            </if>
            <if test="pages != null">
                PAGES,
            </if>
            <if test="price != null">
                PRICE,
            </if>
            <if test="binding != null">
                BINDING,
            </if>
            <if test="series != null">
                SERIES,
            </if>
            <if test="average != null">
                AVERAGE,
            </if>
            <if test="summary != null">
                SUMMARY,
            </if>
            <if test="authorIntro != null">
                AUTHOR_INTRO,
            </if>
            <if test="catalog != null">
                CATALOG,
            </if>
            <if test="tags != null">
                TAGS,
            </if>
            <if test="hasCrawled != null">
                HASCRAWLED,
            </if>
            <if test="isbn10 != null">
                ISBN10,
            </if>
            <if test="subTitle != null">
                SUBTITLE,
            </if>
            <if test="originTitle != null">
                ORIGIN_TITLE,
            </if>
            <if test="ebookPrice != null">
                EBOOK_PRICE,
            </if>
            <if test="createTime != null">
                CREATETIME,
            </if>
            <if test="updateTime != null">
                UPDATETIME,
            </if>
            <if test="smallCover != null">
                SMALL_COVER,
            </if>
            <if test="mediumCover != null">
                MEDIUM_COVER,
            </if>
            <if test="largeCover != null">
                LARGE_COVER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doubanId != null">
                #{doubanId,jdbcType=VARCHAR},
            </if>
            <if test="isbn13 != null">
                #{isbn13,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=NCLOB},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="altTitle != null">
                #{altTitle,jdbcType=VARCHAR},
            </if>
            <if test="translator != null">
                #{translator,jdbcType=VARCHAR},
            </if>
            <if test="issueddate != null">
                #{issueddate,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                #{pages,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=VARCHAR},
            </if>
            <if test="binding != null">
                #{binding,jdbcType=VARCHAR},
            </if>
            <if test="series != null">
                #{series,jdbcType=VARCHAR},
            </if>
            <if test="average != null">
                #{average,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=NCLOB},
            </if>
            <if test="authorIntro != null">
                #{authorIntro,jdbcType=NCLOB},
            </if>
            <if test="catalog != null">
                #{catalog,jdbcType=NCLOB},
            </if>
            <if test="tags != null">
                #{tags,jdbcType=NCLOB},
            </if>
            <if test="hasCrawled != null">
                #{hasCrawled,jdbcType=VARCHAR},
            </if>
            <if test="isbn10 != null">
                #{isbn10,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originTitle != null">
                #{originTitle,jdbcType=VARCHAR},
            </if>
            <if test="ebookPrice != null">
                #{ebookPrice,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="smallCover != null">
                #{smallCover,jdbcType=VARCHAR},
            </if>
            <if test="mediumCover != null">
                #{mediumCover,jdbcType=VARCHAR},
            </if>
            <if test="largeCover != null">
                #{largeCover,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.douban.model.DoubanMeta">
        update DOUBAN_METADATA
        <set>
            <if test="isbn13 != null">
                ISBN13 = #{isbn13,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                TITLE = #{title,jdbcType=NCLOB},
            </if>
            <if test="author != null">
                AUTHOR = #{author,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                PUBLISHER = #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="altTitle != null">
                ALT_TITLE = #{altTitle,jdbcType=VARCHAR},
            </if>
            <if test="translator != null">
                TRANSLATOR = #{translator,jdbcType=VARCHAR},
            </if>
            <if test="issueddate != null">
                ISSUEDDATE = #{issueddate,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                PAGES = #{pages,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                PRICE = #{price,jdbcType=VARCHAR},
            </if>
            <if test="binding != null">
                BINDING = #{binding,jdbcType=VARCHAR},
            </if>
            <if test="series != null">
                SERIES = #{series,jdbcType=VARCHAR},
            </if>
            <if test="average != null">
                AVERAGE = #{average,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                SUMMARY = #{summary,jdbcType=NCLOB},
            </if>
            <if test="authorIntro != null">
                AUTHOR_INTRO = #{authorIntro,jdbcType=NCLOB},
            </if>
            <if test="catalog != null">
                CATALOG = #{catalog,jdbcType=NCLOB},
            </if>
            <if test="tags != null">
                TAGS = #{tags,jdbcType=NCLOB},
            </if>
            <if test="hasCrawled != null">
                HASCRAWLED = #{hasCrawled,jdbcType=VARCHAR},
            </if>
            <if test="isbn10 != null">
                ISBN10 = #{isbn10,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                SUBTITLE = #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="originTitle != null">
                ORIGIN_TITLE = #{originTitle,jdbcType=VARCHAR},
            </if>
            <if test="ebookPrice != null">
                EBOOK_PRICE = #{ebookPrice,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATETIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="smallCover != null">
                SMALL_COVER = #{smallCover,jdbcType=VARCHAR},
            </if>
            <if test="mediumCover != null">
                MEDIUM_COVER = #{mediumCover,jdbcType=VARCHAR},
            </if>
            <if test="largeCover != null">
                LARGE_COVER = #{largeCover,jdbcType=VARCHAR},
            </if>
        </set>
        where DOUBANID = #{doubanId,jdbcType=VARCHAR}
    </update>

</mapper>