<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.cleanData.dao.NlcCrawlIsbnDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.cleanData.model.NlcCrawlIsbn">
        <result column="ISBN" jdbcType="VARCHAR" property="isbn"/>
    </resultMap>
    <delete id="delete" parameterType="java.lang.String">
        delete from NLC_CRAWL_ISBN
        where isbn = #{isbn}
    </delete>
    <insert id="insert" parameterType="java.lang.String">
        insert into NLC_CRAWL_ISBN (ISBN)
        values (#{isbn,jdbcType=VARCHAR})
    </insert>
    <select id="count" resultType="java.lang.Integer">
      select count(*) from NLC_CRAWL_ISBN
    </select>
</mapper>