<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.nlcmarc.dao.ApabiBookMetadataAuthorDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.nlcmarc.model.ApabiBookMetadataAuthor">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="METAID" jdbcType="VARCHAR" property="metaId"/>
        <result column="AUTHORTYPE" jdbcType="VARCHAR" property="authorType"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="PINYIN" jdbcType="VARCHAR" property="pinyin"/>
        <result column="ORIGINALNAME" jdbcType="VARCHAR" property="originalName"/>
        <result column="APABIAUTHORID" jdbcType="VARCHAR" property="apabiAuthorId"/>
        <result column="NLCAUTHORID" jdbcType="VARCHAR" property="nlcAuthorId"/>
        <result column="PRIORITY" jdbcType="VARCHAR" property="priority"/>
        <result column="NLCMARCIDENTIFIER" jdbcType="VARCHAR" property="nlcMarcIdentifier"/>
        <result column="ADDITION" jdbcType="VARCHAR" property="addition"/>
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="PERIOD" jdbcType="VARCHAR" property="period"/>
        <result column="TRANAME" jdbcType="VARCHAR" property="traname"/>
        <result column="TRAAUTHORTYPE" jdbcType="VARCHAR" property="traAuthorType"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,
        METAID,
        AUTHORTYPE,
        NAME,
        TYPE,
        PINYIN,
        ORIGINALNAME,
        APABIAUTHORID,
        NLCAUTHORID,
        PRIORITY,
        NLCMARCIDENTIFIER,
        ADDITION,
        OPERATOR,
        CREATETIME,
        UPDATETIME,
        PERIOD,
        TRANAME,
        TRAAUTHORTYPE
    </sql>

    <!-- 根据nlcMarcIdentifier查询,并以priority排序 -->
    <select id="findByNlcMarcIdentifier" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from APABI_BOOK_METADATA_AUTHOR
        where NLCMARCIDENTIFIER = #{nlcMarcIdentifier,jdbcType=VARCHAR}
    </select>

    <!-- 根据nlcMarcIdentifier查询,并以priority排序 -->
    <select id="findByNlcMarcIdentifierOrderByPriority" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from APABI_BOOK_METADATA_AUTHOR
        where NLCMARCIDENTIFIER = #{nlcMarcIdentifier,jdbcType=VARCHAR}
        order by priority asc
    </select>

    <!-- 根据id查询数据 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from APABI_BOOK_METADATA_AUTHOR
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据id删除数据 -->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from APABI_BOOK_METADATA_AUTHOR
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookMetadataAuthor">
        insert into APABI_BOOK_METADATA_AUTHOR
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="metaId != null">
                METAID,
            </if>
            <if test="authorType != null">
                AUTHORTYPE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="pinyin != null">
                PINYIN,
            </if>
            <if test="originalName != null">
                ORIGINALNAME,
            </if>
            <if test="apabiAuthorId != null">
                APABIAUTHORID,
            </if>
            <if test="nlcAuthorId != null">
                NLCAUTHORID,
            </if>
            <if test="priority != null">
                PRIORITY,
            </if>
            <if test="nlcMarcIdentifier != null">
                NLCMARCIDENTIFIER,
            </if>
            <if test="addition != null">
                ADDITION,
            </if>
            <if test="operator != null">
                OPERATOR,
            </if>
            <if test="createTime != null">
                CREATETIME,
            </if>
            <if test="updateTime != null">
                UPDATETIME,
            </if>
            <if test="period != null">
                PERIOD,
            </if>
            <if test="traname != null">
                TRANAME,
            </if>
            <if test="traAuthorType != null">
                TRAAUTHORTYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="metaId != null">
                #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="authorType != null">
                #{authorType,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="pinyin != null">
                #{pinyin,jdbcType=VARCHAR},
            </if>
            <if test="originalName != null">
                #{originalName,jdbcType=VARCHAR},
            </if>
            <if test="apabiAuthorId != null">
                #{apabiAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="nlcAuthorId != null">
                #{nlcAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=VARCHAR},
            </if>
            <if test="nlcMarcIdentifier != null">
                #{nlcMarcIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="addition != null">
                #{addition,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="period != null">
                #{period,jdbcType=VARCHAR},
            </if>
            <if test="traname != null">
                #{TRANAME,jdbcType=VARCHAR},
            </if>
            <if test="traAuthorType != null">
                #{TRAAUTHORTYPE,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookMetadataAuthor">
        update APABI_BOOK_METADATA_AUTHOR
        <set>
            <if test="metaId != null">
                METAID = #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="authorType != null">
                AUTHORTYPE = #{authorType,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="pinyin != null">
                PINYIN = #{pinyin,jdbcType=VARCHAR},
            </if>
            <if test="originalName != null">
                ORIGINALNAME = #{originalName,jdbcType=VARCHAR},
            </if>
            <if test="apabiAuthorId != null">
                APABIAUTHORID = #{apabiAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="nlcAuthorId != null">
                NLCAUTHORID = #{nlcAuthorId,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                PRIORITY = #{priority,jdbcType=VARCHAR},
            </if>
            <if test="nlcMarcIdentifier != null">
                NLCMARCIDENTIFIER = #{nlcMarcIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="addition != null">
                ADDITION = #{addition,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                OPERATOR = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATETIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="period != null">
                PERIOD = #{period,jdbcType=TIMESTAMP},
            </if>
            <if test="traname != null">
                TRANAME = #{traname,jdbcType=VARCHAR},
            </if>
            <if test="traAuthorType != null">
                TRAAUTHORTYPE = #{traAuthorType,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <!-- 统计数据个数 -->
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM APABI_BOOK_METADATA_AUTHOR
    </select>

</mapper>