<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.nlcmarc.dao.ApabiBookMetadataTitleDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.nlcmarc.model.ApabiBookMetadataTitle">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="METAID" jdbcType="VARCHAR" property="metaId"/>
        <result column="NLCMARCIDENTIFIER" jdbcType="VARCHAR" property="nlcMarcIdentifier"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="SUBTITLE" jdbcType="VARCHAR" property="subTitle"/>
        <result column="TITLEPINYIN" jdbcType="VARCHAR" property="titlePinyin"/>
        <result column="SERIESTITLE" jdbcType="VARCHAR" property="seriesTitle"/>
        <result column="PARALLELSERIESTITLE" jdbcType="VARCHAR" property="parallelSeriesTitle"/>
        <result column="SERIESSUBTITLE" jdbcType="VARCHAR" property="seriesSubTitle"/>
        <result column="VOLUMETITLE" jdbcType="VARCHAR" property="volumeTitle"/>
        <result column="PARALLELTITLE" jdbcType="VARCHAR" property="parallelTitle"/>
        <result column="COVERTITLE" jdbcType="VARCHAR" property="coverTitle"/>
        <result column="ADDEDPAGETITLE" jdbcType="VARCHAR" property="addedPageTitle"/>
        <result column="CAPTIONTITLE" jdbcType="VARCHAR" property="captionTitle"/>
        <result column="RUNNINGTITLE" jdbcType="VARCHAR" property="runningTitle"/>
        <result column="SPINETITLE" jdbcType="VARCHAR" property="spineTitle"/>
        <result column="OTHERVARIANTTITLE" jdbcType="VARCHAR" property="otherVariantTitle"/>
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="VOLUME" jdbcType="VARCHAR" property="volume"/>
        <result column="VOLUME200" jdbcType="VARCHAR" property="volume200"/>
        <result column="VOLUME200TITLE" jdbcType="VARCHAR" property="volume200Title"/>
        <result column="VOLUME500" jdbcType="VARCHAR" property="volume500"/>
        <result column="VOLUME500TITLE" jdbcType="VARCHAR" property="volume500Title"/>
        <result column="UNIFORMTITLE" jdbcType="VARCHAR" property="uniformTitle"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, METAID, NLCMARCIDENTIFIER, TITLE, SUBTITLE, TITLEPINYIN, SERIESTITLE, PARALLELSERIESTITLE,
        SERIESSUBTITLE, VOLUMETITLE, PARALLELTITLE, COVERTITLE, ADDEDPAGETITLE, CAPTIONTITLE,
        RUNNINGTITLE, SPINETITLE, OTHERVARIANTTITLE, OPERATOR, CREATETIME, UPDATETIME,VOLUME,VOLUME200,
        VOLUME200TITLE,VOLUME500,VOLUME500TITLE,UNIFORMTITLE
    </sql>

    <!-- 根据nlcMarcIdentifier进行查询 -->
    <select id="findByNlcMarcIdentifier" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from APABI_BOOK_METADATA_TITLE
        where NLCMARCIDENTIFIER = #{nlcMarcIdentifier,jdbcType=VARCHAR}
    </select>

    <!-- 根据主键进行查询 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from APABI_BOOK_METADATA_TITLE
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据主键进行删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from APABI_BOOK_METADATA_TITLE
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookMetadataTitle">
        insert into APABI_BOOK_METADATA_TITLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="metaId != null">
                METAID,
            </if>
            <if test="nlcMarcIdentifier != null">
                NLCMARCIDENTIFIER,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="subTitle != null">
                SUBTITLE,
            </if>
            <if test="titlePinyin != null">
                TITLEPINYIN,
            </if>
            <if test="seriesTitle != null">
                SERIESTITLE,
            </if>
            <if test="parallelSeriesTitle != null">
                PARALLELSERIESTITLE,
            </if>
            <if test="seriesSubTitle != null">
                SERIESSUBTITLE,
            </if>
            <if test="volumeTitle != null">
                VOLUMETITLE,
            </if>
            <if test="parallelTitle != null">
                PARALLELTITLE,
            </if>
            <if test="coverTitle != null">
                COVERTITLE,
            </if>
            <if test="addedPageTitle != null">
                ADDEDPAGETITLE,
            </if>
            <if test="captionTitle != null">
                CAPTIONTITLE,
            </if>
            <if test="runningTitle != null">
                RUNNINGTITLE,
            </if>
            <if test="spineTitle != null">
                SPINETITLE,
            </if>
            <if test="otherVariantTitle != null">
                OTHERVARIANTTITLE,
            </if>
            <if test="operator != null">
                OPERATOR,
            </if>
            <if test="createTime != null">
                CREATETIME,
            </if>
            <if test="updateTime != null">
                UPDATETIME,
            </if>
            <if test="volume != null">
                VOLUME,
            </if>
            <if test="volume200 != null">
                VOLUME200,
            </if>
            <if test="volume200Title != null">
                VOLUME200TITLE,
            </if>
            <if test="volume500 != null">
                VOLUME500,
            </if>
            <if test="volume500Title != null">
                VOLUME500TITLE,
            </if>
            <if test="uniformTitle != null">
                uniformTitle,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="metaId != null">
                #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="nlcMarcIdentifier != null">
                #{nlcMarcIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="titlePinyin != null">
                #{titlePinyin,jdbcType=VARCHAR},
            </if>
            <if test="seriesTitle != null">
                #{seriesTitle,jdbcType=VARCHAR},
            </if>
            <if test="parallelSeriesTitle != null">
                #{parallelSeriesTitle,jdbcType=VARCHAR},
            </if>
            <if test="seriesSubTitle != null">
                #{seriesSubTitle,jdbcType=VARCHAR},
            </if>
            <if test="volumeTitle != null">
                #{volumeTitle,jdbcType=VARCHAR},
            </if>
            <if test="parallelTitle != null">
                #{parallelTitle,jdbcType=VARCHAR},
            </if>
            <if test="coverTitle != null">
                #{coverTitle,jdbcType=VARCHAR},
            </if>
            <if test="addedPageTitle != null">
                #{addedPageTitle,jdbcType=VARCHAR},
            </if>
            <if test="captionTitle != null">
                #{captionTitle,jdbcType=VARCHAR},
            </if>
            <if test="runningTitle != null">
                #{runningTitle,jdbcType=VARCHAR},
            </if>
            <if test="spineTitle != null">
                #{spineTitle,jdbcType=VARCHAR},
            </if>
            <if test="otherVariantTitle != null">
                #{otherVariantTitle,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="volume != null">
                #{volume,jdbcType=VARCHAR},
            </if>
            <if test="volume200 != null">
                #{volume200,jdbcType=VARCHAR},
            </if>
            <if test="volume200Title != null">
                #{volume200Title,jdbcType=VARCHAR},
            </if>
            <if test="volume500 != null">
                #{volume500,jdbcType=VARCHAR},
            </if>
            <if test="volume500Title != null">
                #{volume500Title,jdbcType=VARCHAR},
            </if>
            <if test="uniformTitle != null">
                #{uniformTitle,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookMetadataTitle">
        update APABI_BOOK_METADATA_TITLE
        <set>
            <if test="metaId != null">
                METAID = #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="nlcMarcIdentifier != null">
                NLCMARCIDENTIFIER = #{nlcMarcIdentifier,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subTitle != null">
                SUBTITLE = #{subTitle,jdbcType=VARCHAR},
            </if>
            <if test="titlePinyin != null">
                TITLEPINYIN = #{titlePinyin,jdbcType=VARCHAR},
            </if>
            <if test="seriesTitle != null">
                SERIESTITLE = #{seriesTitle,jdbcType=VARCHAR},
            </if>
            <if test="parallelSeriesTitle != null">
                PARALLELSERIESTITLE = #{parallelSeriesTitle,jdbcType=VARCHAR},
            </if>
            <if test="seriesSubTitle != null">
                SERIESSUBTITLE = #{seriesSubTitle,jdbcType=VARCHAR},
            </if>
            <if test="volumeTitle != null">
                VOLUMETITLE = #{volumeTitle,jdbcType=VARCHAR},
            </if>
            <if test="parallelTitle != null">
                PARALLELTITLE = #{parallelTitle,jdbcType=VARCHAR},
            </if>
            <if test="coverTitle != null">
                COVERTITLE = #{coverTitle,jdbcType=VARCHAR},
            </if>
            <if test="addedPageTitle != null">
                ADDEDPAGETITLE = #{addedPageTitle,jdbcType=VARCHAR},
            </if>
            <if test="captionTitle != null">
                CAPTIONTITLE = #{captionTitle,jdbcType=VARCHAR},
            </if>
            <if test="runningTitle != null">
                RUNNINGTITLE = #{runningTitle,jdbcType=VARCHAR},
            </if>
            <if test="spineTitle != null">
                SPINETITLE = #{spineTitle,jdbcType=VARCHAR},
            </if>
            <if test="otherVariantTitle != null">
                OTHERVARIANTTITLE = #{otherVariantTitle,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                OPERATOR = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATETIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="volume != null">
                VOLUME = #{volume,jdbcType=VARCHAR},
            </if>
            <if test="volume200 != null">
                VOLUME200 = #{volume200,jdbcType=VARCHAR},
            </if>
            <if test="volume200Title != null">
                VOLUME200TITLE = #{volume200Title,jdbcType=VARCHAR},
            </if>
            <if test="volume500 != null">
                VOLUME500 = #{volume500,jdbcType=VARCHAR},
            </if>
            <if test="volume500Title != null">
                VOLUME500TITLE = #{volume500Title,jdbcType=VARCHAR},
            </if>
            <if test="uniformTitle != null">
                uniformtitle = #{uniformTitle,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>