<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.nlcmarc.dao.NlcBookMarcDao">
  <resultMap id="BaseResultMap" type="com.apabi.flow.nlcmarc.model.NlcBookMarc">
    <id column="NLCMARCID" jdbcType="VARCHAR" property="nlcMarcId" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher" />
    <result column="ISBN" jdbcType="VARCHAR" property="isbn" />
    <result column="METAID" jdbcType="VARCHAR" property="metaId" />
    <result column="ISOFILEPATH" jdbcType="VARCHAR" property="isoFilePath" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ISOCONTENT" jdbcType="CLOB" property="isoContent" />
    <result column="CLASS" jdbcType="VARCHAR" property="class_" />
    <result column="TITLEPINYIN" jdbcType="VARCHAR" property="titlePinyin" />
    <result column="SUBTITLE" jdbcType="VARCHAR" property="subTitle" />
    <result column="SUBTITLEPINYIN" jdbcType="VARCHAR" property="subTitlePinyin" />
    <result column="AUTHORPINYIN" jdbcType="VARCHAR" property="authorPinyin" />
    <result column="CONTRIBUTOR" jdbcType="VARCHAR" property="contributor" />
    <result column="ISSUEDDATE" jdbcType="VARCHAR" property="issuedDate" />
    <result column="RELATION" jdbcType="VARCHAR" property="relation" />
    <result column="VOLUME" jdbcType="VARCHAR" property="volume" />
    <result column="VOLUMETITLE" jdbcType="VARCHAR" property="volumeTitle" />
    <result column="VOLUMETITLEPINYIN" jdbcType="VARCHAR" property="volumeTitlePinyin" />
    <result column="VOLUMEID" jdbcType="VARCHAR" property="volumeId" />
  </resultMap>

  <sql id="Base_Column_List">
    NLCMARCID, TITLE, AUTHOR, PUBLISHER, ISBN, METAID, ISOFILEPATH, CREATETIME, UPDATETIME, ISOCONTENT,CLASS,
    TITLEPINYIN,SUBTITLE,SUBTITLEPINYIN,AUTHORPINYIN,CONTRIBUTOR,ISSUEDDATE,RELATION,VOLUME,VOLUMETITLE,VOLUMETITLEPINYIN,VOLUMEID
  </sql>

  <select id="findByIsbn" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from NLC_BOOK_MARC
    where ISBN = #{isbn,jdbcType=VARCHAR}
  </select>


  <select id="findByNlcMarcId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from NLC_BOOK_MARC
    where NLCMARCID = #{nlcMarcId,jdbcType=VARCHAR}
  </select>

  <select id="findByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from NLC_BOOK_MARC
  </select>

  <select id="getTotalCount" resultType="int">
    select
    count(*)
    from NLC_BOOK_MARC
  </select>

  <delete id="deleteByNlcMarcId" parameterType="java.lang.String">
    delete from NLC_BOOK_MARC
    where NLCMARCID = #{nlcMarcId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertNlcMarc" parameterType="com.apabi.flow.nlcmarc.model.NlcBookMarc">
    insert into NLC_BOOK_MARC
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nlcMarcId != null">
        NLCMARCID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="author != null">
        AUTHOR,
      </if>
      <if test="publisher != null">
        PUBLISHER,
      </if>
      <if test="isbn != null">
        ISBN,
      </if>
      <if test="metaId != null">
        METAID,
      </if>
      <if test="isoFilePath != null">
        ISOFILEPATH,
      </if>
      <if test="createTime != null">
        CREATETIME,
      </if>
      <if test="updateTime != null">
        UPDATETIME,
      </if>
      <if test="isoContent != null">
        ISOCONTENT,
      </if>
      <if test="class_ != null">
        CLASS,
      </if>
      <if test="titlePinyin != null">
        TITLEPINYIN,
      </if>
      <if test="subTitle != null">
        SUBTITLE,
      </if>
      <if test="subTitlePinyin != null">
        SUBTITLEPINYIN,
      </if>
      <if test="authorPinyin != null">
        AUTHORPINYIN,
      </if>
      <if test="contributor != null">
        CONTRIBUTOR,
      </if>
      <if test="issuedDate != null">
        ISSUEDDATE,
      </if>
      <if test="relation != null">
        RELATION,
      </if>
      <if test="volume != null">
        VOLUME,
      </if>
      <if test="volumeTitle != null">
        VOLUMETITLE,
      </if>
      <if test="volumeTitlePinyin != null">
        VOLUMETITLEPINYIN,
      </if>
      <if test="volumeId != null">
        VOLUMEID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nlcMarcId != null">
        #{nlcMarcId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="metaId != null">
        #{metaId,jdbcType=VARCHAR},
      </if>
      <if test="isoFilePath != null">
        #{isoFilePath,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isoContent != null">
        #{isoContent,jdbcType=CLOB},
      </if>
      <if test="class_ != null">
        #{class_,jdbcType=CLOB},
      </if>
      <if test="titlePinyin != null">
        #{titlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitlePinyin != null">
        #{subTitlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="authorPinyin != null">
        #{authorPinyin,jdbcType=VARCHAR},
      </if>
      <if test="contributor != null">
        #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="issuedDate != null">
        #{issuedDate,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=VARCHAR},
      </if>
      <if test="volumeTitle != null">
        #{volumeTitle,jdbcType=VARCHAR},
      </if>
      <if test="volumeTitlePinyin != null">
        #{volumeTitlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="volumeId != null">
        #{volumeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateNlcBookMarc" parameterType="com.apabi.flow.nlcmarc.model.NlcBookMarc">
    update NLC_BOOK_MARC
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="publisher != null">
        PUBLISHER = #{publisher,jdbcType=VARCHAR},
      </if>
      <if test="isbn != null">
        ISBN = #{isbn,jdbcType=VARCHAR},
      </if>
      <if test="metaId != null">
        METAID = #{metaId,jdbcType=VARCHAR},
      </if>
      <if test="isoFilePath != null">
        ISOFILEPATH = #{isoFilePath,jdbcType=VARCHAR},
      </if>
      <!-- 不更新创建时间 -->
      <!--<if test="createTime != null">-->
        <!--CREATETIME = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <if test="updateTime != null">
        UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isoContent != null">
        ISOCONTENT = #{isoContent,jdbcType=CLOB},
      </if>
      <if test="class_ != null">
        CLASS = #{class_,jdbcType=CLOB},
      </if>
      <if test="titlePinyin != null">
        TITLEPINYIN = #{titlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="subTitle != null">
        SUBTITLE = #{subTitle,jdbcType=VARCHAR},
      </if>
      <if test="subTitlePinyin != null">
        SUBTITLEPINYIN = #{subTitlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="authorPinyin != null">
        AUTHORPINYIN = #{authorPinyin,jdbcType=VARCHAR},
      </if>
      <if test="contributor != null">
        CONTRIBUTOR = #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="issuedDate != null">
        ISSUEDDATE = #{issuedDate,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        RELATION = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        VOLUME = #{volume,jdbcType=VARCHAR},
      </if>
      <if test="volumeTitle != null">
        VOLUMETITLE = #{volumeTitle,jdbcType=VARCHAR},
      </if>
      <if test="volumeTitlePinyin != null">
        VOLUMETITLEPINYIN = #{volumeTitlePinyin,jdbcType=VARCHAR},
      </if>
      <if test="volumeId != null">
        VOLUMEID = #{volumeId,jdbcType=VARCHAR},
      </if>
    </set>
    where NLCMARCID = #{nlcMarcId,jdbcType=VARCHAR}
  </update>

</mapper>