<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.admin.dao.AuthRoleDao">
    <resultMap id="authRoleResult" type="com.apabi.flow.admin.model.AuthRole">
        <result property="id" column="id" />
        <result property="roleCode" column="role_code" />
        <result property="orgId" column="org_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="crtDate" column="crt_date" />
        <result property="crtUserId" column="crt_user_id" />
        <result property="modifyDate" column="modify_date" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="enabled" column="enabled" />
    </resultMap>

    <resultMap id="authUserResult" type="com.apabi.flow.admin.model.AuthUser">
        <result property="id" column="id" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="orgId" column="org_id" />
        <result property="realName" column="real_name" />
        <result property="gender" column="gender" />
        <result property="birthdate" column="birthdate" />
        <result property="telephone" column="telephone" />
        <result property="email" column="email" />
        <result property="modifyPasswordDate" column="modify_password_date" />
        <result property="crtDate" column="crt_date" />
        <result property="crtUserId" column="crt_user_id" />
        <result property="modifyDate" column="modify_date" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="enabled" column="enabled" />
    </resultMap>

    <resultMap id="getRoleResById" type="com.apabi.flow.admin.model.AuthRes">
        <result property="id" column="id" />
        <result property="menuId" column="menu_id" />
        <result property="parentId" column="parent_id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="url" column="url" />
        <result property="type" column="type" />
        <result property="viewOrder" column="view_order" />
        <result property="description" column="description" />
        <result property="crtDate" column="crt_date" />
        <result property="crtUserId" column="crt_user_id" />
        <result property="modifyDate" column="modify_date" />
        <result property="modifyUserId" column="modify_user_id" />
        <result property="enabled" column="enabled" />
    </resultMap>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="commonColumns">
	    <![CDATA[
        	id ,
        	role_code ,
        	org_id ,
        	name ,
        	description ,
        	crt_date ,
        	crt_user_id ,
        	modify_date ,
        	modify_user_id ,
        	enabled
	    ]]>
	</sql>

    <sql id="dynamicWhere">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="roleCode != null">
                AND role_code = #{roleCode}
            </if>
            <if test="orgId != null">
                AND org_id = #{orgId}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="description != null">
                AND description = #{description}
            </if>
            <if test="crtDate != null">
                AND crt_date = #{crtDate}
            </if>
            <if test="crtUserId != null">
                AND crt_user_id = #{crtUserId}
            </if>
            <if test="modifyDate != null">
                AND modify_date = #{modifyDate}
            </if>
            <if test="modifyUserId != null">
                AND modify_user_id = #{modifyUserId}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled}
            </if>
            <if test="keywords != null">
                AND name like '%'||#{keywords}||'%'
            </if>
        </trim>
    </sql>

    <select id="findByPage" resultMap="authRoleResult">
        select
        <include refid="commonColumns" />
        <![CDATA[
	        from auth_role
	    ]]>
        <include refid="dynamicWhere" />
    </select>

    <insert id="save" parameterType="com.apabi.flow.admin.model.AuthRole">
		insert into auth_role (id , role_code  , org_id  ,
		name  , description  , crt_date  ,
		crt_user_id  , modify_date  , modify_user_id  ,
		enabled
		)
		values (#{id,jdbcType=NUMERIC}, #{roleCode,jdbcType=VARCHAR}, #{orgId,jdbcType=NUMERIC},
		#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP},
		#{crtUserId,jdbcType=NUMERIC}, #{modifyDate,jdbcType=TIMESTAMP}, #{modifyUserId,jdbcType=NUMERIC},
		#{enabled,jdbcType=NUMERIC}
		)
	</insert>

    <select id="getById" resultMap="authRoleResult">
        select
        <include refid="commonColumns" />
        <![CDATA[
	        from auth_role
	        where
		        id = #{id}
	    ]]>
    </select>

    <update id="update" parameterType="com.apabi.flow.admin.model.AuthRole">
        UPDATE auth_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleCode != null">
                role_code = #{roleCode},
            </if>
            <if test="orgId != null">
                org_id = #{orgId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="crtDate != null">
                crt_date = #{crtDate},
            </if>
            <if test="crtUserId != null">
                crt_user_id = #{crtUserId},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
            <if test="modifyUserId != null">
                modify_user_id = #{modifyUserId},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>

    <!-- 通过角色ID查询角色的权限-->
    <select id="getRoleResById" resultMap="getRoleResById">
		select ares.id, ares.name, ares.type,ares.menu_id,ares.parent_id,ares.code,ares.url,ares.view_order,ares.description,
		ares.crt_date,	ares.crt_user_id,	ares.modify_date,	ares.modify_user_id,	ares.enabled
		from auth_role ar,
		auth_res_role arr,
		auth_res ares
		where ares.id = arr.res_id and arr.role_id = ar.id and ar.id = #{id}
	</select>

    <!-- 通过roleId查询剩余的权限 -->
    <select id="getRemainResById" resultMap="getRoleResById">
		select ares.id, ares.name
		from auth_res ares
		where ares.id not in (
		select ares.id
		from auth_res ares,
			 auth_res_role arr,
			 auth_role ar
		where ar.id = arr.role_id and arr.res_id = ares.id and ar.id = #{id})
	</select>

    <delete id="batchDelete" parameterType="java.util.List">
        <![CDATA[
        delete from auth_role
    	]]>
        <where>
            id in
            <foreach collection="ids" item="id" index="index" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 通过roleId查询哪些用户具有该角色 -->
    <select id="getUserNameByRoleId" resultMap="authUserResult">
		select au.user_name
		from auth_role_group arg,
		auth_user_group aug,
		auth_user au
		where arg.group_id = aug.group_id and aug.user_id = au.id and arg.role_id = #{id}
	</select>

    <!-- 检查RoleCode是否重复 -->
    <select id="getCountByRoleCode" resultType="int">
        <![CDATA[
        select count(*) from auth_role
    ]]>
    where role_code = #{rolecode}
	</select>
</mapper>