<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.admin.dao.OrgDao">
    <resultMap id="baseResult" type="com.apabi.flow.admin.model.Org">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
        <result column="org_name" property="orgName" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="crt_date" property="crtDate" jdbcType="TIMESTAMP" />
        <result column="enabled" property="enabled" jdbcType="TINYINT" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
        <result column="device_num" property="deviceNum" jdbcType="INTEGER" />
        <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="sy_id" property="syId" jdbcType="VARCHAR" />
        <result column="right_key" property="rightKey" jdbcType="VARCHAR" />
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="commonColumns">
	    <![CDATA[
        	id, org_code, org_name, description, crt_date, enabled, update_date, end_date, device_num,
    		area_code, type,sy_id, right_key
	    ]]>
	</sql>

    <sql id="dynamicWhere">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="orgCode != null">
                AND org_code = #{orgCode}
            </if>
            <if test="orgName != null">
                AND org_name = #{orgName}
            </if>
            <!-- <if test="keywords != null">
            AND CONCAT(org_name) like "%"#{keywords}"%"
            </if> -->
        </trim>
    </sql>

    <!-- 查询全部 -->
    <select id="queryAll" resultMap="baseResult">
		select id, org_code, org_name, description, crt_date, enabled, update_date, end_date, device_num,
    		area_code, type	,sy_id,  right_key
	        from org
	</select>

    <select id="getById" resultMap="baseResult">
        select
        <include refid="commonColumns" />
        <![CDATA[
	        from org
	        where
		        id = #{id}
	    ]]>
    </select>

</mapper>