<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.apabi.flow.admin.dao.AuthResRoleDao">

    <resultMap id="authResRoleResult" type="com.apabi.flow.admin.model.AuthResRole">
        <result property="id" column="id" />
        <result property="resId" column="res_id" />
        <result property="roleId" column="role_id" />
        <result property="crtDate" column="crt_date" />
        <result property="crtUserId" column="crt_user_id" />
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="commonColumns">
	    <![CDATA[
        	id ,
        	res_id ,
        	role_id ,
        	crt_date ,
        	crt_user_id
	    ]]>
	</sql>

    <insert id="save" parameterType="com.apabi.flow.admin.model.AuthResRole">
        insert into auth_res_role (id , res_id , role_id ,
		crt_date , crt_user_id
		)
		values (#{id,jdbcType=NUMERIC}, #{resId,jdbcType=NUMERIC}, #{roleId,jdbcType=NUMERIC},
		#{crtDate,jdbcType=TIMESTAMP}, #{crtUserId,jdbcType=NUMERIC}
		)
	</insert>

    <sql id="dynamicWhere">
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="resId != null">
                AND res_id = #{resId}
            </if>
            <if test="roleId != null">
                AND role_id = #{roleId}
            </if>
            <if test="crtDate != null">
                AND crt_date = #{crtDate}
            </if>
            <if test="crtUserId != null">
                AND crt_user_id = #{crtUserId}
            </if>
        </trim>
    </sql>

    <select id="getCountByRoleId" resultType="int">
		select count(*) from auth_res_role
		where role_id = #{roleId}
	</select>
    <!-- 删除之前需要先检查关联性 -->
    <select id="getCountByResId" resultType="int">
		select count(*) from auth_res_role
		where res_id = #{resId}
	</select>

    <!-- 根据roleId查询resId -->
    <select id="getResIdByRoleId" resultMap="authResRoleResult">
        select
        <include refid="commonColumns" />
        <![CDATA[
	        from auth_res_role
	    ]]>
        where role_id = #{roleId}
    </select>

    <!-- 根据RoleId删除 -->
    <delete id="deleteByRoleId" parameterType="long">
        <![CDATA[
        delete from auth_res_role
    ]]>
        <where>
            role_id = #{roleId}
        </where>
    </delete>

</mapper>