<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.book.dao.BookLogMapper">
  <resultMap id="BaseResultMap" type="com.apabi.flow.book.model.BookLog">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ADDED_NUM" jdbcType="DECIMAL" property="addedNum" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="DATA_TYPE" jdbcType="VARCHAR" property="dataType" />
    <result column="END_INDEX" jdbcType="DECIMAL" property="endIndex" />
    <result column="META_ID" jdbcType="VARCHAR" property="metaId" />
    <result column="START_INDEX" jdbcType="DECIMAL" property="startIndex" />
    <result column="TOTALS" jdbcType="DECIMAL" property="totals" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ADDED_NUM, CREATE_TIME, DATA_TYPE, END_INDEX, META_ID, START_INDEX, TOTALS, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from APABI_BOOK_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from APABI_BOOK_LOG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apabi.flow.book.model.BookLog">
    insert into APABI_BOOK_LOG (ID, ADDED_NUM, CREATE_TIME, 
      DATA_TYPE, END_INDEX, META_ID, 
      START_INDEX, TOTALS, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{addedNum,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dataType,jdbcType=VARCHAR}, #{endIndex,jdbcType=DECIMAL}, #{metaId,jdbcType=VARCHAR}, 
      #{startIndex,jdbcType=DECIMAL}, #{totals,jdbcType=DECIMAL}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apabi.flow.book.model.BookLog">
    insert into APABI_BOOK_LOG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="addedNum != null">
        ADDED_NUM,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="endIndex != null">
        END_INDEX,
      </if>
      <if test="metaId != null">
        META_ID,
      </if>
      <if test="startIndex != null">
        START_INDEX,
      </if>
      <if test="totals != null">
        TOTALS,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="addedNum != null">
        #{addedNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="endIndex != null">
        #{endIndex,jdbcType=DECIMAL},
      </if>
      <if test="metaId != null">
        #{metaId,jdbcType=VARCHAR},
      </if>
      <if test="startIndex != null">
        #{startIndex,jdbcType=DECIMAL},
      </if>
      <if test="totals != null">
        #{totals,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apabi.flow.book.model.BookLog">
    update APABI_BOOK_LOG
    <set>
      <if test="addedNum != null">
        ADDED_NUM = #{addedNum,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      </if>
      <if test="endIndex != null">
        END_INDEX = #{endIndex,jdbcType=DECIMAL},
      </if>
      <if test="metaId != null">
        META_ID = #{metaId,jdbcType=VARCHAR},
      </if>
      <if test="startIndex != null">
        START_INDEX = #{startIndex,jdbcType=DECIMAL},
      </if>
      <if test="totals != null">
        TOTALS = #{totals,jdbcType=DECIMAL},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apabi.flow.book.model.BookLog">
    update APABI_BOOK_LOG
    set ADDED_NUM = #{addedNum,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      DATA_TYPE = #{dataType,jdbcType=VARCHAR},
      END_INDEX = #{endIndex,jdbcType=DECIMAL},
      META_ID = #{metaId,jdbcType=VARCHAR},
      START_INDEX = #{startIndex,jdbcType=DECIMAL},
      TOTALS = #{totals,jdbcType=DECIMAL},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>