<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.processing.dao.UserUnitMapper">
  <resultMap id="BaseResultMap" type="com.apabi.flow.processing.model.UserUnit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
    <result column="UNIT_ID" jdbcType="VARCHAR" property="unitId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, UNIT_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from APABI_BOOK_PRO_USER_UNIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from APABI_BOOK_PRO_USER_UNIT
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from APABI_BOOK_PRO_USER_UNIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.apabi.flow.processing.model.UserUnit">
    insert into APABI_BOOK_PRO_USER_UNIT (ID, USER_ID, UNIT_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=DECIMAL}, #{unitId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apabi.flow.processing.model.UserUnit">
    insert into APABI_BOOK_PRO_USER_UNIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.apabi.flow.processing.model.UserUnit">
    update APABI_BOOK_PRO_USER_UNIT
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apabi.flow.processing.model.UserUnit">
    update APABI_BOOK_PRO_USER_UNIT
    set USER_ID = #{userId,jdbcType=DECIMAL},
      UNIT_ID = #{unitId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>