<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.douban.dao.AmazonCrawlPriceUrlDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.douban.model.AmazonCrawlPriceUrl">
        <id column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="PAGE_NUM" jdbcType="VARCHAR" property="pageNum"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        URL, PAGE_NUM, STATUS
    </sql>

    <!-- 统计未抓取数量 -->
    <select id="countWithoutCrawled" resultType="java.lang.Integer">
      select count(*) from AMAZON_CRAWL_PRICE_URL
      where status = '0'
    </select>

    <!-- 查询全部数据 -->
    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AMAZON_CRAWL_PRICE_URL
    </select>

    <!-- 查询全部未抓取的数据 -->
    <select id="findWithoutCrawled" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AMAZON_CRAWL_PRICE_URL
        where status = '0'
    </select>

    <!-- 根据主键查询 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AMAZON_CRAWL_PRICE_URL
        where URL = #{url,jdbcType=VARCHAR}
    </select>

    <!-- 删除数据 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from AMAZON_CRAWL_PRICE_URL
        where URL = #{url,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.douban.model.AmazonCrawlPriceUrl">
        insert into AMAZON_CRAWL_PRICE_URL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">
                URL,
            </if>
            <if test="pageNum != null">
                PAGE_NUM,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="pageNum != null">
                #{pageNum,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.douban.model.AmazonCrawlPriceUrl">
        update AMAZON_CRAWL_PRICE_URL
        <set>
            <if test="pageNum != null">
                PAGE_NUM = #{pageNum,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where URL = #{url,jdbcType=VARCHAR}
    </update>

    <!-- 更新数据为已抓取 -->
    <update id="updateHasCrawled" parameterType="java.lang.String">
        update AMAZON_CRAWL_PRICE_URL
        set status = '1'
        where URL = #{url,jdbcType=VARCHAR}
    </update>

</mapper>