<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.douban.dao.AmazonCrawlPricePageUrlDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.douban.model.AmazonCrawlPricePageUrl">
        <id column="URL" jdbcType="VARCHAR" property="url"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        URL, STATUS
    </sql>

    <!-- 分页查询未抓取的数据 -->
    <select id="findByPageWithoutCrawled" resultMap="BaseResultMap">
        select
        *
        from AMAZON_CRAWL_PRICE_PAGE_URL
        where 1=1
    </select>


    <!-- 根据主键查询 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from AMAZON_CRAWL_PRICE_PAGE_URL
        where URL = #{url,jdbcType=VARCHAR}
    </select>

    <!-- 统计数据数量 -->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from AMAZON_CRAWL_PRICE_PAGE_URL
    </select>

    <!-- 统计数据数量 -->
    <select id="countWithoutCrawled" resultType="java.lang.Integer">
        select count(*) from AMAZON_CRAWL_PRICE_PAGE_URL
        where status = '0'
    </select>

    <!-- 根据主键删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from AMAZON_CRAWL_PRICE_PAGE_URL
        where URL = #{url,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.douban.model.AmazonCrawlPricePageUrl">
        insert into AMAZON_CRAWL_PRICE_PAGE_URL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="url != null">
                URL,
            </if>
            <if test="status != null">
                STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.douban.model.AmazonCrawlPricePageUrl">
        update AMAZON_CRAWL_PRICE_PAGE_URL
        <set>
            <if test="status != null">
                STATUS = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        where URL = #{url,jdbcType=VARCHAR}
    </update>

    <!-- 更新数据为已更新 -->
    <update id="updateHasCrawled" parameterType="java.lang.String">
        update AMAZON_CRAWL_PRICE_PAGE_URL
        set status = '1'
        where URL = #{url,jdbcType=VARCHAR}
    </update>

</mapper>