<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.bookSearch.dao.BookSearchModelDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.bookSearch.model.BookSearchModel">
        <id column="METAID" jdbcType="VARCHAR" property="metaId"/>
        <result column="IDTYPE" jdbcType="VARCHAR" property="idType"/>
        <result column="SALESTATUS" jdbcType="INTEGER" property="saleStatus"/>
        <result column="LANGUAGE" jdbcType="VARCHAR" property="language"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="SUBTITLE" jdbcType="VARCHAR" property="subTitle"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="AUTHORINTRO" jdbcType="CLOB" property="authorIntro"/>
        <result column="CREATORWORD" jdbcType="VARCHAR" property="creatorWord"/>
        <result column="CREATORID" jdbcType="VARCHAR" property="creatorId"/>
        <result column="CONTRIBUTOR" jdbcType="VARCHAR" property="contributor"/>
        <result column="CONTRIBUTORWORD" jdbcType="VARCHAR" property="contributorWord"/>
        <result column="CONTRIBUTORID" jdbcType="VARCHAR" property="contributorId"/>
        <result column="TRANSLATOR" jdbcType="VARCHAR" property="translator"/>
        <result column="TRANSLATORID" jdbcType="VARCHAR" property="translatorId"/>
        <result column="ORIGINTITLE" jdbcType="VARCHAR" property="originTitle"/>
        <result column="ALTERNATIVETITLE" jdbcType="VARCHAR" property="alternativeTitle"/>
        <result column="EDITIONORDER" jdbcType="VARCHAR" property="editionOrder"/>
        <result column="EDITIONNOTE" jdbcType="VARCHAR" property="editionNote"/>
        <result column="PLACE" jdbcType="VARCHAR" property="place"/>
        <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher"/>
        <result column="PUBLISHERID" jdbcType="VARCHAR" property="publisherId"/>
        <result column="ISSUEDDATE" jdbcType="VARCHAR" property="issuedDate"/>
        <result column="ENDISSUEDDATE" jdbcType="VARCHAR" property="endIssuedDate"/>
        <result column="ISSUEDDATEDESC" jdbcType="VARCHAR" property="issuedDateDesc"/>
        <result column="ABSTRACT" jdbcType="CLOB" property="abstract_"/>
        <result column="SUBJECT" jdbcType="VARCHAR" property="subject"/>
        <result column="PREFACE" jdbcType="CLOB" property="preface"/>
        <result column="READER" jdbcType="VARCHAR" property="reader"/>
        <result column="CLASSCODE" jdbcType="VARCHAR" property="classCode"/>
        <result column="APABICLASS" jdbcType="VARCHAR" property="apabiClass"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="ISBN" jdbcType="VARCHAR" property="isbn"/>
        <result column="ISBN10" jdbcType="VARCHAR" property="isbn10"/>
        <result column="ISBN13" jdbcType="VARCHAR" property="isbn13"/>
        <result column="PAPERPRICE" jdbcType="VARCHAR" property="paperPrice"/>
        <result column="EBOOKPRICE" jdbcType="VARCHAR" property="ebookPrice"/>
        <result column="FOREIGNPRICE" jdbcType="VARCHAR" property="foreignPrice"/>
        <result column="FOREIGNPRICETYPE" jdbcType="VARCHAR" property="foreignPriceType"/>
        <result column="PAPERPRICEDESC" jdbcType="VARCHAR" property="paperPriceDesc"/>
        <result column="BINDING" jdbcType="VARCHAR" property="binding"/>
        <result column="ILLUSTRATION" jdbcType="VARCHAR" property="illustration"/>
        <result column="PRESSORDER" jdbcType="VARCHAR" property="pressOrder"/>
        <result column="EDITOR" jdbcType="VARCHAR" property="editor"/>
        <result column="RELATION" jdbcType="VARCHAR" property="relation"/>
        <result column="RELATIONID" jdbcType="VARCHAR" property="relationId"/>
        <result column="VOLUME" jdbcType="VARCHAR" property="volume"/>
        <result column="ISSERIES" jdbcType="INTEGER" property="isSeries"/>
        <result column="VOLUMESCOUNT" jdbcType="VARCHAR" property="volumesCount"/>
        <result column="ISALLUBLISHED" jdbcType="VARCHAR" property="isAllublished"/>
        <result column="NOTES" jdbcType="VARCHAR" property="notes"/>
        <result column="PODPRICE" jdbcType="VARCHAR" property="podPrice"/>
        <result column="PODPRICETYPE" jdbcType="VARCHAR" property="podPriceType"/>
        <result column="PODPRICEPAGEUNIT" jdbcType="VARCHAR" property="podPricePageUnit"/>
        <result column="DRID" jdbcType="VARCHAR" property="drId"/>
        <result column="DOUBANID" jdbcType="VARCHAR" property="doubanId"/>
        <result column="AMAZONID" jdbcType="VARCHAR" property="amazonId"/>
        <result column="CALISID" jdbcType="VARCHAR" property="calisId"/>
        <result column="NLIBRARYID" jdbcType="VARCHAR" property="nlibraryId"/>
        <result column="DATASOURCE" jdbcType="VARCHAR" property="dataSource"/>
        <result column="QUALITYRATING" jdbcType="VARCHAR" property="qualityRating"/>
        <result column="QRTYPE" jdbcType="VARCHAR" property="qrType"/>
        <result column="CEBXOBJID" jdbcType="VARCHAR" property="cebxObjId"/>
        <result column="CEBXFILESIZE" jdbcType="VARCHAR" property="cebxFileSize"/>
        <result column="HASCEBX" jdbcType="INTEGER" property="hasCebx"/>
        <result column="CEBXPAGE" jdbcType="VARCHAR" property="cebxPage"/>
        <result column="COMPLEXOID" jdbcType="VARCHAR" property="complexOid"/>
        <result column="REDITOR" jdbcType="VARCHAR" property="reditor"/>
        <result column="DEPARTMENTID" jdbcType="VARCHAR" property="departmentId"/>
        <result column="COVERURL" jdbcType="VARCHAR" property="coverUrl"/>
        <result column="IMGHEIGTH" jdbcType="VARCHAR" property="imgHeigth"/>
        <result column="IMGWIDTH" jdbcType="VARCHAR" property="imgWidth"/>
        <result column="COVOBJID" jdbcType="VARCHAR" property="covObjId"/>
        <result column="THUMIMGURL" jdbcType="VARCHAR" property="thumImgUrl"/>
        <result column="THUMIMGSIZE" jdbcType="VARCHAR" property="thumImgSize"/>
        <result column="MEDIUMCOVER" jdbcType="VARCHAR" property="mediumCover"/>
        <result column="HASFLOW" jdbcType="INTEGER" property="hasFlow"/>
        <result column="ISOPTIMIZE" jdbcType="INTEGER" property="isOptimize"/>
        <result column="DONOR" jdbcType="VARCHAR" property="donor"/>
        <result column="LIBRARYID" jdbcType="VARCHAR" property="libraryId"/>
        <result column="BOOKID" jdbcType="VARCHAR" property="bookId"/>
        <result column="STYLECLASS" jdbcType="VARCHAR" property="styleClass"/>
        <result column="STYLEURL" jdbcType="CLOB" property="styleUrl"/>
        <result column="CHAPTERNUM" jdbcType="INTEGER" property="chapterNum"/>
        <result column="BOOKPAGES" jdbcType="VARCHAR" property="bookPages"/>
        <result column="TAGS" jdbcType="VARCHAR" property="tags"/>
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="CONTENTNUM" jdbcType="INTEGER" property="contentNum"/>
        <result column="FOAMATCATALOG" jdbcType="CLOB" property="foamatCatalog"/>
        <result column="STREAMCATALOG" jdbcType="CLOB" property="streamCatalog"/>
        <result column="HASPUBLISH" jdbcType="INTEGER" property="hasPublish"/>
        <result column="ISPUBLICCOPYRIGHT" jdbcType="INTEGER" property="isPublicCopyRight"/>
        <result column="POSTSCRIPT" jdbcType="VARCHAR" property="postScript"/>
    </resultMap>

    <sql id="Base_Column_List">
        METAID,
        IDTYPE,
        SALESTATUS,
        LANGUAGE,
        TITLE,
        SUBTITLE,
        CREATOR,
        AUTHORINTRO,
        CREATORWORD,
        CREATORID,
        CONTRIBUTOR,
        CONTRIBUTORWORD,
        CONTRIBUTORID,
        TRANSLATOR,
        TRANSLATORID,
        ORIGINTITLE,
        ALTERNATIVETITLE,
        EDITIONORDER,
        EDITIONNOTE,
        PLACE,
        PUBLISHER,
        PUBLISHERID,
        ISSUEDDATE,
        ENDISSUEDDATE,
        ISSUEDDATEDESC,
        ABSTRACT,
        SUBJECT,
        PREFACE,
        READER,
        CLASSCODE,
        APABICLASS,
        TYPE,
        ISBN,
        ISBN10,
        ISBN13,
        PAPERPRICE,
        EBOOKPRICE,
        FOREIGNPRICE,
        FOREIGNPRICETYPE,
        PAPERPRICEDESC,
        BINDING,
        ILLUSTRATION,
        PRESSORDER,
        EDITOR,
        RELATION,
        RELATIONID,
        VOLUME,
        ISSERIES,
        VOLUMESCOUNT,
        ISALLUBLISHED,
        NOTES,
        PODPRICE,
        PODPRICETYPE,
        PODPRICEPAGEUNIT,
        DRID,
        DOUBANID,
        AMAZONID,
        CALISID,
        NLIBRARYID,
        DATASOURCE,
        QUALITYRATING,
        QRTYPE,
        CEBXOBJID,
        CEBXFILESIZE,
        HASCEBX,
        CEBXPAGE,
        COMPLEXOID,
        REDITOR,
        DEPARTMENTID,
        COVERURL,
        IMGHEIGTH,
        IMGWIDTH,
        COVOBJID,
        THUMIMGURL,
        THUMIMGSIZE,
        MEDIUMCOVER,
        HASFLOW,
        ISOPTIMIZE,
        DONOR,
        LIBRARYID,
        BOOKID,
        STYLECLASS,
        STYLEURL,
        CHAPTERNUM,
        BOOKPAGES,
        TAGS,
        CREATETIME,
        UPDATETIME,
        CONTENTNUM,
        FOAMATCATALOG,
        STREAMCATALOG,
        HASPUBLISH,
        ISPUBLICCOPYRIGHT,
        POSTSCRIPT
    </sql>

    <!-- 根据metaId查询图书数据 -->
    <select id="findBookSearchByMetaId" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APABI_BOOK_METADATA
        WHERE METAID = #{metaId,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询 -->
    <select id="findBookSearchByPage" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM APABI_BOOK_METADATA
        WHERE 1=1
        <if test="metaId != null and metaId != ''">
            AND metaId = #{metaId,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            AND title LIKE CONCAT(CONCAT('%',#{title,jdbcType=VARCHAR}),'%')
        </if>
        <if test="creator != null and creator != ''">
            AND creator LIKE CONCAT(CONCAT('%',#{creator,jdbcType=VARCHAR}),'%')
        </if>
        <if test="publisher != null and publisher != ''">
            AND publisher LIKE CONCAT(CONCAT('%',#{publisher,jdbcType=VARCHAR}),'%')
        </if>
        <if test="isbn != null and isbn != ''">
            AND isbn = #{isbn,jdbcType=VARCHAR}
        </if>
        <if test="isbn10 != null and isbn10 != ''">
            AND isbn10 = #{isbn10,jdbcType=VARCHAR}
        </if>
        <if test="isbn13 != null and isbn13 != ''">
            AND isbn13 = #{isbn13,jdbcType=VARCHAR}
        </if>
        <if test="hasCebx != null and hasCebx != ''">
            AND hasCebx = #{hasCebx,jdbcType=VARCHAR}
        </if>
        <if test="hasFlow != null and hasFlow != ''">
            AND hasFlow = #{hasFlow,jdbcType=VARCHAR}
        </if>
        <if test="isPublicCopyRight != null and isPublicCopyRight != ''">
            AND isPublicCopyRight = #{isPublicCopyRight,jdbcType=VARCHAR}
        </if>
        <if test="saleStatus != null and saleStatus != ''">
            AND saleStatus = #{saleStatus,jdbcType=VARCHAR}
        </if>
    </select>



</mapper>