<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.jd.dao.JdMetadataDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.jd.model.JdMetadata">
        <id column="JD_ITEM_ID" jdbcType="VARCHAR" property="jdItemId"/>
        <result column="TITLE" jdbcType="VARCHAR" property="title"/>
        <result column="ISBN13" jdbcType="VARCHAR" property="isbn13"/>
        <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher"/>
        <result column="EDITION_ORDER" jdbcType="VARCHAR" property="editionOrder"/>
        <result column="ISSUED_DATE" jdbcType="VARCHAR" property="issuedDate"/>
        <result column="BINDING" jdbcType="VARCHAR" property="binding"/>
        <result column="PAGES" jdbcType="INTEGER" property="pages"/>
        <result column="LANGUAGE" jdbcType="VARCHAR" property="language"/>
        <result column="FORMAT" jdbcType="VARCHAR" property="format"/>
        <result column="BRAND" jdbcType="VARCHAR" property="brand"/>
        <result column="META_ID" jdbcType="VARCHAR" property="metaId"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        JD_ITEM_ID, TITLE, ISBN13, PUBLISHER, EDITION_ORDER, ISSUED_DATE, BINDING, PAGES,
        LANGUAGE, FORMAT, BRAND, META_ID, CREATE_TIME, UPDATE_TIME
    </sql>

    <!-- 分页查询京东数据 -->
    <select id="findByPage" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from JD_METADATA
        where
        1=1
        <if test="jdItemId != null and jdItemId != ''">
            and JD_ITEM_ID = #{jdItemId,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            and TITLE = #{title,jdbcType=VARCHAR}
        </if>
        <if test="isbn13 != null and isbn13 != ''">
            and ISBN13 = #{isbn13,jdbcType=VARCHAR}
        </if>
        <if test="publisher != null and publisher != ''">
            and PUBLISHER = #{publisher,jdbcType=VARCHAR}
        </if>
        <if test="editionOrder != null and editionOrder != ''">
            and EDITION_ORDER = #{editionOrder,jdbcType=VARCHAR}
        </if>
        <if test="issuedDate != null and issuedDate != ''">
            and ISSUED_DATE = #{issuedDate,jdbcType=VARCHAR}
        </if>
        <if test="binding != null and binding != ''">
            and BINDING = #{binding,jdbcType=VARCHAR}
        </if>
        <if test="pages != null and pages != ''">
            and PAGES = #{pages,jdbcType=VARCHAR}
        </if>
        <if test="language != null and language != ''">
            and LANGUAGE = #{language,jdbcType=VARCHAR}
        </if>
        <if test="format != null and format != ''">
            and FORMAT = #{format,jdbcType=VARCHAR}
        </if>
        <if test="brand != null and brand != ''">
            and BRAND = #{brand,jdbcType=VARCHAR}
        </if>
        <if test="metaId != null and metaId != ''">
            and META_ID = #{metaId,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>


    <!-- 分页查询京东数据 -->
    <select id="findByPageOrderByUpdateTime" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from JD_METADATA
        where
        1=1
        <if test="jdItemId != null and jdItemId != ''">
            and JD_ITEM_ID = #{jdItemId,jdbcType=VARCHAR}
        </if>
        <if test="title != null and title != ''">
            and TITLE = #{title,jdbcType=VARCHAR}
        </if>
        <if test="isbn13 != null and isbn13 != ''">
            and ISBN13 = #{isbn13,jdbcType=VARCHAR}
        </if>
        <if test="publisher != null and publisher != ''">
            and PUBLISHER = #{publisher,jdbcType=VARCHAR}
        </if>
        <if test="editionOrder != null and editionOrder != ''">
            and EDITION_ORDER = #{editionOrder,jdbcType=VARCHAR}
        </if>
        <if test="issuedDate != null and issuedDate != ''">
            and ISSUED_DATE = #{issuedDate,jdbcType=VARCHAR}
        </if>
        <if test="binding != null and binding != ''">
            and BINDING = #{binding,jdbcType=VARCHAR}
        </if>
        <if test="pages != null and pages != ''">
            and PAGES = #{pages,jdbcType=VARCHAR}
        </if>
        <if test="language != null and language != ''">
            and LANGUAGE = #{language,jdbcType=VARCHAR}
        </if>
        <if test="format != null and format != ''">
            and FORMAT = #{format,jdbcType=VARCHAR}
        </if>
        <if test="brand != null and brand != ''">
            and BRAND = #{brand,jdbcType=VARCHAR}
        </if>
        <if test="metaId != null and metaId != ''">
            and META_ID = #{metaId,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        order by UPDATE_TIME desc
    </select>

    <!-- 查询需要抓取的京东数据 -->
    <select id="findShouldCrawl" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from JD_METADATA
        where META_ID IS NULL AND ISBN13 IS NOT NULL
    </select>

    <!-- 查询isbn13查询数据 -->
    <select id="findByIsbn13" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from JD_METADATA
        where ISBN13 = #{isbn13,jdbcType=VARCHAR}
    </select>


    <!-- 查询京东数据个数 -->
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from JD_METADATA
    </select>

    <!-- 分页查询所有京东isbn -->
    <select id="findAllIsbn13ByPage" resultType="java.lang.String">
        select isbn13
        from JD_METADATA
    </select>

    <!-- 查询所有京东数据 -->
    <select id="findAll" resultMap="BaseResultMap">
        select *
        from JD_METADATA
    </select>

    <!-- 根据主键查询 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from JD_METADATA
        where JD_ITEM_ID = #{jdItemId,jdbcType=VARCHAR}
    </select>

    <!-- 删除数据 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from JD_METADATA
        where JD_ITEM_ID = #{jdItemId,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.jd.model.JdMetadata">
        insert into JD_METADATA
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jdItemId != null">
                JD_ITEM_ID,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="isbn13 != null">
                ISBN13,
            </if>
            <if test="publisher != null">
                PUBLISHER,
            </if>
            <if test="editionOrder != null">
                EDITION_ORDER,
            </if>
            <if test="issuedDate != null">
                ISSUED_DATE,
            </if>
            <if test="binding != null">
                BINDING,
            </if>
            <if test="pages != null">
                PAGES,
            </if>
            <if test="language != null">
                LANGUAGE,
            </if>
            <if test="format != null">
                FORMAT,
            </if>
            <if test="brand != null">
                BRAND,
            </if>
            <if test="metaId != null">
                META_ID,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jdItemId != null">
                #{jdItemId,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="isbn13 != null">
                #{isbn13,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="editionOrder != null">
                #{editionOrder,jdbcType=VARCHAR},
            </if>
            <if test="issuedDate != null">
                #{issuedDate,jdbcType=VARCHAR},
            </if>
            <if test="binding != null">
                #{binding,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                #{pages,jdbcType=INTEGER},
            </if>
            <if test="language != null">
                #{language,jdbcType=VARCHAR},
            </if>
            <if test="format != null">
                #{format,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                #{brand,jdbcType=VARCHAR},
            </if>
            <if test="metaId != null">
                #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.jd.model.JdMetadata">
        update JD_METADATA
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="isbn13 != null">
                ISBN13 = #{isbn13,jdbcType=VARCHAR},
            </if>
            <if test="publisher != null">
                PUBLISHER = #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="editionOrder != null">
                EDITION_ORDER = #{editionOrder,jdbcType=VARCHAR},
            </if>
            <if test="issuedDate != null">
                ISSUED_DATE = #{issuedDate,jdbcType=VARCHAR},
            </if>
            <if test="binding != null">
                BINDING = #{binding,jdbcType=VARCHAR},
            </if>
            <if test="pages != null">
                PAGES = #{pages,jdbcType=INTEGER},
            </if>
            <if test="language != null">
                LANGUAGE = #{language,jdbcType=VARCHAR},
            </if>
            <if test="format != null">
                FORMAT = #{format,jdbcType=VARCHAR},
            </if>
            <if test="brand != null">
                BRAND = #{brand,jdbcType=VARCHAR},
            </if>
            <if test="metaId != null">
                META_ID = #{metaId,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where JD_ITEM_ID = #{jdItemId,jdbcType=VARCHAR}
    </update>

</mapper>