<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apabi.flow.nlcmarc.dao.ApabiBookSeriesDao">
    <resultMap id="BaseResultMap" type="com.apabi.flow.nlcmarc.model.ApabiBookSeries">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="DATASOURCE" jdbcType="VARCHAR" property="dataSource" />
        <result column="COLLATOR" jdbcType="VARCHAR" property="collator" />
        <result column="SERIESTYPE" jdbcType="VARCHAR" property="seriesType" />
        <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
        <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="PUBLISHER" jdbcType="VARCHAR" property="publisher" />
        <result column="SUMMARY" jdbcType="VARCHAR" property="summary" />
    </resultMap>

    <sql id="Base_Column_List">
        ID, TITLE, DATASOURCE, COLLATOR, SERIESTYPE, OPERATOR, CREATETIME, UPDATETIME, PUBLISHER,
        SUMMARY
    </sql>

    <!-- 根据主键查询数据 -->
    <select id="findById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from APABI_BOOK_SERIES
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <!-- 查询所有的丛书名称 -->
    <select id="findAllTitles" resultType="java.lang.String">
        select
        title
        from APABI_BOOK_SERIES
    </select>

    <!-- 根据主键删除数据 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from APABI_BOOK_SERIES
        where ID = #{id,jdbcType=VARCHAR}
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookSeries">
        insert into APABI_BOOK_SERIES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="title != null">
                TITLE,
            </if>
            <if test="dataSource != null">
                DATASOURCE,
            </if>
            <if test="collator != null">
                COLLATOR,
            </if>
            <if test="seriesType != null">
                SERIESTYPE,
            </if>
            <if test="operator != null">
                OPERATOR,
            </if>
            <if test="createTime != null">
                CREATETIME,
            </if>
            <if test="updateTime != null">
                UPDATETIME,
            </if>
            <if test="publisher != null">
                PUBLISHER,
            </if>
            <if test="summary != null">
                SUMMARY,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="dataSource != null">
                #{dataSource,jdbcType=VARCHAR},
            </if>
            <if test="collator != null">
                #{collator,jdbcType=VARCHAR},
            </if>
            <if test="seriesType != null">
                #{seriesType,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="publisher != null">
                #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.apabi.flow.nlcmarc.model.ApabiBookSeries">
        update APABI_BOOK_SERIES
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="dataSource != null">
                DATASOURCE = #{dataSource,jdbcType=VARCHAR},
            </if>
            <if test="collator != null">
                COLLATOR = #{collator,jdbcType=VARCHAR},
            </if>
            <if test="seriesType != null">
                SERIESTYPE = #{seriesType,jdbcType=VARCHAR},
            </if>
            <if test="operator != null">
                OPERATOR = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                CREATETIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATETIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="publisher != null">
                PUBLISHER = #{publisher,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                SUMMARY = #{summary,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>